<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.daon.approve.ApproveMapper">

	<!-- 결재 진행중 목록 조회 -->
	<select id="getDocumentList" parameterType="java.util.Map" resultType="com.spring.daon.approve.Documents">
		SELECT * FROM documents
		 WHERE doc_status = #{status}
		   AND emp_no = #{emp_no}
		 ORDER BY doc_reg_date DESC
	</select>
	
	<insert id="insertDocument">
		INSERT INTO documents(doc_form, emp_no, dept_no, doc_title, doc_reg_date, doc_status, doc_urgent)
		VALUES(#{doc_form}, #{emp_no}, #{dept_no}, #{doc_title}, #{doc_reg_date}, #{doc_status}, #{doc_urgent})
	</insert>
	
	<select id="getDocNo" parameterType="int" resultType="int">
		SELECT MAX(doc_no)
		  FROM documents
		 WHERE emp_no = #{emp_no}
	</select>
	
	<insert id="insertApprovalLines">
		INSERT INTO approval_lines(doc_no, approver_no, approval_order, approval_status)
		VALUES(#{doc_no}, #{approver_no}, #{approval_order}, #{approval_status})
	</insert>
	
	<insert id="insertWorkReport">
    INSERT INTO work_report(doc_no, emp_no, title, content, coop_dept_no, execution_date)
    VALUES(
        #{doc_no}, 
        #{emp_no}, 
        #{title}, 
        #{content}, 
        <if test="coop_dept_no != 0">#{coop_dept_no}</if>
        <if test="coop_dept_no == 0">null</if>, 
        #{execution_date}
    )
</insert>
	<!--  결재 진행중 목록 조회
	<select id="getCompleteList" resultType="com.spring.daon.approve.Documents">
		SELECT * FROM documents
		 WHERE doc_status = 1
		 ORDER BY doc_reg_date DESC 
	</select> -->
 
	
</mapper>   

