<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.daon.attendMgt.AttendMgtMapper">
	
	<!-- 출근 버튼 클릭 시 -->
	<insert id="checkIn" parameterType="java.util.Map">		
		INSERT INTO attendance (emp_no, check_in_time, normal, late)
		VALUES (
		    #{emp_no}, 
		    curtime(),
		    CASE 
		        WHEN #{start_time} >= CURTIME() THEN 1
		        ELSE 0  
		    END,
		    CASE 
		        WHEN #{start_time} > CURTIME() THEN 0
		        ELSE 1  
		    END
		)
	</insert>
	
	<!-- 퇴근 버튼 클릭 시 -->
	<update id="checkOut" parameterType="java.util.Map">
	update attendance
		set check_out_time = curtime(),
			work_hours = TIMESTAMPDIFF(MINUTE, check_in_time, CURTIME()) / 60,
	        normal = CASE 
				        WHEN #{end_time} >= CURTIME() OR late = 1 THEN 0
				        ELSE 1  
				    END,
			early_leave = CASE 
				        	WHEN #{end_time} > CURTIME() THEN 1
				        	ELSE 0
				    	  END
		where  emp_no = #{emp_no}
		  and  date = curdate()
	</update>
	
	<!-- 오늘 출 퇴근 기록 불러오기 -->
	<select id="attendByDate" parameterType="int" resultType="com.spring.daon.attendMgt.Attendance">
		select * from attendance
	 	where emp_no = #{emp_no}
	 	 and  date = curdate()
	</select>
	
	<!-- 근무 유형 조회 -->
	<select id="workType" parameterType="int" resultType="com.spring.daon.attendMgt.Work_schedules">
		select w.work_type_no,
			   w.type_name,
			   w.start_time,
			   w.end_time,
			   w.total_time
			   
		from work_schedules w
		JOIN employees e ON e.work_type_no = w.work_type_no
		where e.emp_no = #{emp_no}
	</select>

	<!-- 선택한 달 출퇴근 통계 불러오기 -->
	<select id="attendCnt" parameterType="java.util.Map" resultType="com.spring.daon.attendMgt.Attendance">
		SELECT 
		    SUM(normal) AS normal, 
		    SUM(late) AS late, 
		    SUM(early_leave) AS early_leave, 
		    SUM(out_status) AS out_status, 
		    SUM(absent) AS absent
		FROM attendance
		where emp_no = #{emp_no}
		 AND MONTH(date) = #{month}
 		 AND YEAR(date) = #{year}
	</select>
	<!-- 선택한 달 출퇴근 기록 불러오기 -->
	<select id="attendHistory" parameterType="java.util.Map" resultType="com.spring.daon.attendMgt.Attendance">
		 SELECT *
			FROM attendance
			where emp_no = #{emp_no}
			 AND MONTH(date) = #{month}
			 AND YEAR(date) = #{year}
	</select>
	
	<!-- 선택한 달 변경이력 불러오기 -->
	<select id="changeLog" parameterType="java.util.Map" resultType="com.spring.daon.attendMgt.Attendance">
	     SELECT a.*, e.emp_name, e.emp_img
		    FROM attendance a
		    JOIN employees e ON a.emp_no = e.emp_no
		    WHERE a.emp_no = #{emp_no}
		      AND MONTH(a.date) = #{month}
		      AND YEAR(a.date) = #{year}
		      AND a.message IS NOT NULL
	</select>
	
	<!-- <<< 휴가관련 >>> -->
	
	<!-- 휴가 생성 내역 -->
	<select id="vacation_log" parameterType="int" resultType="com.spring.daon.attendMgt.Vacation_occur">
	     SELECT *
		    FROM vacation_occur
		    WHERE emp_no = #{emp_no}
	</select>
	
	<!-- 휴가 사용기록 불러오기 -->
	<select id="vacationHistory" parameterType="int" resultType="com.spring.daon.approve.Vacation_req">
	     SELECT vr.*
		   FROM vacation_req vr
		   join documents d
		   join employees e 
		  WHERE d.doc_no =vr.doc_no
		    AND d.emp_no = e.emp_no 
		    AND vr.emp_no = #{emp_no}
		    AND d.doc_status = 2
	</select>
</mapper>