<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.daon.messenger.file.FileMapper">

   <!-- 파일 저장 -->
   <insert id="insertFile">
        INSERT INTO chat_file (
            room_code,
            sender_id,
            original_name,
            saved_name,
            uploaded_at
        )
        VALUES (
            #{roomCode},
            #{senderId},
            #{originalName},
            #{savedName},
            #{uploadedAt}
        )
    </insert>
    
</mapper>