<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.daon.login.LoginMapper">

 <select id="checkIdPwd" parameterType="com.spring.daon.hrMgt.Employees" resultType="com.spring.daon.hrMgt.Employees"> 
	SELECT *
	  FROM employees 
	 WHERE emp_email = #{emp_email} 
	   AND emp_pwd = #{emp_pwd} 
</select>
   
</mapper>   
