<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.daon.schedule.ScheduleMapper">
	
	<!-- 출근 버튼 클릭 시 -->
	<select id="getCategory" parameterType="int" resultType="com.spring.daon.schedule.Schedule_setting">		
		select * from schedule_setting
		where emp_no = #{emp_no}
	</select>
	
	<!-- 일정 카테고리 색변경 -->
	<update id="colorEdit" parameterType="java.util.Map">
		UPDATE schedule_setting
		   SET c_sch_color = #{c_sch_color}
		 where c_sch_no = #{c_sch_no}	
	</update>
</mapper>