/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
    color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: blue;
}


/* 버튼 색 변경 */
.fc .fc-button {
    background-color: #CECEF2 !important;
    color: white !important;
    border-radius: 5px;
    border-width: 1px;
    border-color: #b1b1d3;
}

/* 활성화 상태 */
.fc .fc-button.fc-button-active {
    background-color: #b3b3d4 !important;
    color: white !important;
    border-radius: 5px;
    border-width: 1px;
    /* border-color: #000000 !important; */
    border-color: #b1b1d3 !important;
}
/* 마우스 올렸을 때 */
.fc .fc-button:hover {
    background-color: #b3b3d4 !important;
    color: white !important;
    border-radius: 5px;
    border-width: 1px;
    border-color: #b1b1d3 !important;
}
/* 기본 테마 무시 */
.fc-theme-standard .fc-button {
    border-color: #b1b1d3 !important;
    border-width: 1px !important;
}

.modal-450w{
    max-width: 450px !important;
}
.modal-300w{
    max-width: 300px !important;
}
.modal-1000h{
    max-height: 1500px !important;
}

.custom-form{
    font-size: 14px;
}