

.headerContents div {
    border-right: 2px solid #EAEAEA; 
    height: 50px; 
    width:20%; 
    text-align:center;
    vertical-align:middle;
}

.headerContents div:last-child {
    border-right: none; /* 마지막 div에 border-right 제거 */
  }

  .headerContents div p{
    font-Size:24px;
    color:#CECEF2
}